[class^='zdView-ContainerView'] {
    height: 100%;

    &.cards-layout {
        .main-content-container {
            .main-content-container-body {
                position: absolute;
                height: calc(100% - 11px);
                width: calc(100% - 10px);
                padding: 0 5px 10px 5px;
            }

            .main-content-container-top {
                position: absolute;
                z-index: 10;
            }
        }
    }

    .options-pane-nav {
        float: left;

        .divide-line {
            margin: 0;
            border-top: none;
            border-bottom: 1px solid #323232;
        }
    }

    .main-content-container {
        height: 100%;
        background: #E6E6E6;
        float: left;

        .main-content-container-top,
        .main-content-container-body {
            float: left;
            width: 100%;
        }

        .main-content-container-top {
            width: 100%;
            height: 24px;
            line-height: 24px;
            padding: 8px 0px;
            background-color: rgba(230,230,230, 0.8);
        }

        .main-content-container-body {
            width: calc(100% - 20px);
            height: calc(100% - 36px);
            padding: 0 10px 10px 10px;

            .zdView-ContentBody {
                height: 100%;

                .zdView-Thumbnails {
                    padding-top: 40px;
                }

                .zdView-TableView {
                    height: inherit;

                    .table-component-wrapper {
                        float: left;
                        width: calc(100% - 284px);
                        height: calc(100% - 15px);
                        max-height: calc(100% - 15px);
                        background: #FFFFFF;
                        margin-right: 4px;
                    }

                    .preview-component-wrapper {
                        float: right;
                        width: 280px;
                        height: calc(100% - 15px);
                    }
                }
            }
        }
    }

    .zdView-TableList {
        height: 100%;
    }
}
